html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonPrimary {
  background-color: #0070f3;
  color: white;
  padding: 1rem 1.25rem;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonPrimary:hover,
.buttonPrimary:focus,
.buttonPrimary:active {
  /* color: #0070f3; */
  /* border-color: #0070f3; */
  background-color: #004ca2;
}

.buttonFlat {
  background-color: transparent;
  /* color: white; */
  padding: 1rem 1.25rem;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.buttonFlat:hover,
.buttonFlat:focus,
.buttonFlat:active {
  outline: none;
  border: none;
  /* color: #0070f3; */
  /* border-color: #0070f3; */
  /* background-color: #004ca2;
   */
}